/*log in container*/
.log-in-container {
    position: absolute;
    top: 15%;
    right: 50%;
    min-height: 300px;
    transform: translateX(50%);
    background-color: var(--secondary);
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
    animation: postFadeIn 2s;
    box-shadow: 5px 5px 15px 10px rgb(34, 29, 29);
}

/*title of log in container*/
.log-in-title {
    text-align: center;
    font-size: 4vw;
    color: var(--primary);
    margin: 0;
    padding: 1.5rem;
    margin-bottom: .5rem;
}

/*containers holding email and password titles and inputs*/
.log-in-container .email-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    font-size: 2vw;
    margin-bottom: 1.5rem;
}

.log-in-container .password-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    font-size: 2vw;
    position: relative;
}

/*password hide/show button*/
.log-in-container .password-hide-show-button {
    position: absolute;
    left: 92%;
    top: 26%;
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
    color: black;
}

.log-in-container input {
    padding: .3rem .7rem;
    font-size: 20px;
}

section {
    margin-bottom: 10px;
    color: white;
}

/*button for users to press to log in*/
.log-in-button {
    display: block;
    margin: auto;
    font-family: Poppins;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: 0.1rem 3rem;
    margin-bottom: 2rem;
    transition: 1s;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
}

.log-in-button:hover {
    cursor: pointer;
    filter: saturate(40%);
    transition: 1s;
}

/*responsiveness*/
@media screen and (max-width: 1000px) {
    .log-in-container .password-hide-show-button {
        top: 28%;
        font-size: 2.5vw;
        left: 88%;
    }

    .log-in-container .password-container,
    .log-in-container .email-container {
        font-size: 3vw;
    }
}

@media screen and (max-width: 800px) {
    .log-in-container .password-hide-show-button {
        top: 25%;
    }
}

@media screen and (max-width: 600px) {
    .log-in-container {
        top: 15%;
    }

    .log-in-container .email-container {
        font-size: 4vw;
    }

    .log-in-container .password-container {
        font-size: 4vw;
    }

    .log-in-title {
        font-size: 5vw;
    }

    .log-in-container .password-hide-show-button {
        top: 27%;
        font-size: 3vw;
    }
}

@media screen and (max-width: 450px) {
    .log-in-container .email-container {
        font-size: 4vw;
    }

    .log-in-container .password-container {
        font-size: 4vw;
    }

    .log-in-title {
        font-size: 10vw;
    }

    .log-in-button {
        font-size: 4.5vw;
    }

    .log-in-container .password-hide-show-button {
        top: 27%;
        left: 88%;
        font-size: 4vw;
    }
}

@media screen and (max-width: 370px) {
    .log-in-container input {
        width: 150px;
        font-size: 4vw;
    }

    .log-in-container {
        width: 70%;
    }
}

@media screen and (min-width: 1100px) and (max-height: 730px) and (min-height: 715px) {
    .log-in-container {
        right: 5%;
        transform: translateX(0);
    }
}

@media screen and (max-width: 920px) and (max-height: 450px) {
    .log-in-container .password-hide-show-button {
        left: 88%;
    }
}