/*container holding nav bar*/
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary);
    backdrop-filter: blur(10px);
    z-index: 203;
    box-shadow: 0 0 15px 5px var(--secondary);
    height: auto;
    max-height: 25%;
}

/*nav bar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .7rem;
    animation: postFadeIn 3s; 
    position: relative;
}

/*nav links stylings*/
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
}

.nav-links button {
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: Poppins;
}

.mobile-nav-link {
    display: none;
}

.nav-title-link {
    text-decoration: none;
    color: var(--primary);
    transition: .5s;
}

.nav-link {
    text-decoration: none;
    color: var(--primary);
    transition: .5s;
}

.nav-link:hover {
    color: white;
    transition: .5s;
}

.mobile-menu-button {
    display: none;
    float: right;
    z-index: 202;
}

.mobile-menu {
    width: 100%;
    height: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.952);
    text-align: center;
    position: fixed;
    top: 8%;
    animation: mobileSlide 1s;
}

@keyframes mobileSlide {
    from {transform: translateX(-600px);}
    to {transform: translateX(0);}
}

.mobile-backdrop {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    width: 100%;
    animation: mobileSlide 1s;
    display: none;
    position: fixed;
    z-index: 200;
    top: 0
}

/*nav title and subtitle*/
.nav-title {
    color: var(--primary);
    letter-spacing: 1.5px;
    font-weight: 600;
}

.nav-subtitle {
    font-size: 15px;
    color: white;
    padding: 0 1rem
}

.page-title-container {
    display: flex;
    align-items: baseline;
}

/*signed in display of user*/
.signed-in-display {
    color: white
}

/*responsiveness*/
@media screen and (max-width: 800px) {
    .signed-in-display {
        display: none;
    }

    .nav-link {
        display: none;
    }

    .mobile-menu-button {
        display: block;
        display: flex;
        align-items: center;
        color: var(--primary);
        cursor: pointer;
        font-size: 4vw;
        z-index: 203;
    }

    .mobile-menu-button:hover {
        color: white;
        transition: .5s;
    }

    .mobile-menu {
        display: flex;

    }

    .mobile-nav-link {
        display: block;
        z-index: 200;
        padding: 1rem;
        text-decoration: none;
        color: var(--primary);
    }
    .nav-title {
        font-size: 4vw;
    }
    .nav-subtitle {
        font-size: 3vw;
    }
    .mobile-backdrop {
        display: block;
    }
}


@media screen and (max-width: 1000px) and (max-height: 600px) {
    .mobile-menu {
        top: 19%
    }
}