
/*backdrop for when new post container is open*/
.container-open {
    width: 100%;
    height: 1000px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.557);
    z-index: 98;
}

/*entire new post container including backdrop*/
.new-post {
    width: 100%;
}

/*log in link that displays instead of create post button if user is not logged in*/
.Log-in-link {
    background-color: var(--secondary);
    filter: saturate(100%);
    border-radius: 60px;
    color: var(--primary);
    animation: fadeIn 2s;
    cursor: pointer;
    transition: 1s;
    position: fixed;
    margin-top: 4rem;
    top: 10%;
    right: 50%;
    transform: translateX(50%);    
    width: 340px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    background-color: var(--secondary);
    backdrop-filter: blur(10px);
    padding: 0.5rem 1rem;
    font-size: 1.5vw;
    transition: 1s;
    z-index: 101;
    box-shadow: 0 0 15px 5px var(--secondary);
    letter-spacing: .5px;
    animation: postFadeIn 3s;
}

.Log-in-link:hover {
    color: rgb(214, 170, 170);
    transition: 1s;
    background-color: rgb(26, 25, 25);
}

/*new post button that, when clicked, opens up new post container*/
.new-post-toggler-open {
    background-color: rgb(52, 49, 49);
    padding: 0.1rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    color: var(--primary);
    backdrop-filter: blur(10px);
    z-index: 10;
    animation: postFadeIn 3s;
    cursor: pointer;
    transition: 1s;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 13%;
    width: 140px;
    text-align: center;
    box-shadow: 0 0 15px 5px var(--secondary);
    z-index: 100;
}

@keyframes buttonFadeIn {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

.new-post-toggler-open:hover {
    color: white;
    transition: 1s;
    border-color: black;
    background-color: rgb(87, 83, 83);
}

/*new post button that, when clicked, closes the new post container*/
.new-post-toggler-close {
    position: fixed;
    top: 13%;
    right: 35%;
    background-color: transparent;
    padding: .3rem;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    z-index: 101; 
}

.new-post-toggler-close:hover {
    cursor: pointer;
    color: var(--primary);
    transition: 1s;
    border-color: black
}

/*new post container*/
.new-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-width: 300px;
    width: 30%;
    height: 415px;
    color:white;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(50, 46, 46, 0.249);
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
    padding: 2rem;
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
    backdrop-filter: blur(10px);
    text-align: left;
    animation: fadeIn .5s;
    z-index: 100;
}

/*animation declaration for when new post container enters view*/
@keyframes fadeIn {
    0% {opacity: 0;scale: 0;}
    100% {opacity: 1;scale: 1;}
}

/*specific class that is assigned only when new post container close button is clicked, runs animation while exiting*/
.hide-container {
    animation: fadeOut .5s;
    scale: 0
}

/*animation for when hide container is assigned to new post container, fades container away smoothly*/
@keyframes fadeOut {
    0% {opacity: 1;scale: 1;}
    80% {opacity: 0;scale: 1;}
    100% {opacity: 0;scale: 0;}
}

/*title of entire new post form*/
.form-title {
    font-size: 35px;
    margin: auto;
}

/*form rows*/
.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/*button that publishes new post*/
.new-post-container button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
    background-color: var(--primary);
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    transition: .5s ease-in-out;
    padding: .4rem 0;
}

.new-post-container button:hover {
    filter: saturate(50%);
    background-color: rgb(146, 12, 12);
    transition: .5s ease-in-out;
    color: rgb(165, 145, 145)
}

/*container for title section of form*/
.title-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    width: 100%;
}

/*input where users put their posts' titles*/
.newpost-title-input {
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px 1px rgb(14, 9, 9);
    padding: .2rem;
    width: 99%;
}

/*container for body section of form*/
.body-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    font-size: 20px;
}

/*text box inside of body section of form*/
textarea {
    height: 150px;
    padding: .2rem;
    box-shadow: 0 0 10px 1px rgb(14, 9, 9);
    border-radius: 5px;
}

/*title of uploading image section*/
.form-image-title {
    display: flex;
}

/*image progress */
.progress {
    margin-left: .5rem;
}

/*responsiveness*/
@media screen and (max-height: 650px) and (min-width: 1000px ) {
    .new-post-toggler-open {
        top: 17%;
    }   
}


@media screen and (min-width: 800px) and (max-width: 1000px) {
    .new-post-toggler-open {
        top: 10%;
    }

    .Log-in-link {
        top: 10%
    }

    .new-post-toggler-close {
        right: 35%; 
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) and (max-height: 600px) {
    .new-post-toggler-open {
        top: 15%;
        border-radius: 20px;
    }

    .Log-in-link {
        top: 16%
    }    
}



@media screen and (max-width: 900px) {
    .new-post-toggler-close {
        right: 30%;
    }

    .Log-in-link {
        top: 8%;
        border-radius: 20px;
        font-size: 3vw;
    }
}




@media screen and (max-width: 600px) {
    .new-post-toggler-close {
        right: 25%;
    }

    .new-post-toggler-open {
        top: 11%;
    }
    
    .Log-in-link {
        top: 11%;
    }
}

@media screen and (max-width: 450px) {
    .new-post-toggler-close {
        right: 15%; 
    }

    .new-post-toggler-open {
        top: 9%;
    }

    .Log-in-link {
        top: 9%;
        font-size: 15px;
    }

    @keyframes fadeDown {
        0% {top: 0}
        100% {top: 7%}
    }    
}

@media screen and (max-width: 350px) {
    .new-post-toggler-close {
        top: 12.5%
    }

    .new-post-toggler-open {
        top: 8%
    }

    .Log-in-link {
        top: 8%
    }
}

@media screen and (min-width: 1100px) and (max-height: 730px) and (min-height: 715px) {
    .new-post-container {
        right: 5%;
        transform: translateX(0);
    }

    .new-post-toggler-open {
        right: 25%;
        top: 15%
    }

    .Log-in-link {
        right: 25%;
        top: 15%   
    }
}

@media screen and (min-height: 900px) {
    .container-open {
        height: 1400px;
    } 

    .new-post-toggler-open {
        top: 10%
    }
}


@media screen and (max-width: 1040px) and (min-height: 1300px) {
    .new-post-toggler-open {
        top: 7%
    }

    .new-post-toggler-close {
        top: 11.5%
    }

    .Log-in-link {
        top: 7%
    }
    
}

@media screen and (max-height: 600px) and (max-width: 1000px) {
    .new-post-container {
        top: 0;
        height: 350px;
    }

    textarea {
        height: 20px;
    }

    .form-title {
        margin-bottom: 0;
        margin-top: 0;
    }

    .new-post-toggler-open {
        top: 20%
    }

    .Log-in-link {
        font-size: 2.5vw;
        top: 17%
    }

    .new-post-toggler-close {
        top: 15%
    }   
}
