/*sign up container*/
.sign-up-container {
    position: absolute;
    top: 15%;
    right: 50%;
    min-width: 300px;
    max-width: 85%;
    min-height: 300px;
    transform: translateX(50%);
    background-color: var(--secondary);
    padding: 0rem 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
    box-shadow: 5px 5px 15px 10px rgb(34, 29, 29);
    animation: postFadeIn 2s;
    z-index: 100;
}

/*form containers*/
.sign-up-container .name-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    font-size: 2vw;
    margin-bottom: 1.5rem;
}

.sign-up-container .email-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    font-size: 2vw;
    margin-bottom: 1.5rem;
}

.sign-up-container .password-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    font-size: 2vw;
    position: relative;
}

.sign-up-container input {
    padding: .3rem .7rem;
    font-size: 2vw;
}

.sign-up-container section {
    margin-bottom: 10px;
    color: white;
}

/*password hide/show button*/
.sign-up-container .password-hide-show-button {
    position: absolute;
    left: 92%;
    top: 25%;
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
    color: black;
}

/*title of form*/
.sign-up-title {
    text-align: center;
    font-size: 4vw;
    color: var(--primary);
    margin: 0;
    padding: 1.5rem;   
}

/*sign up button*/
.sign-up-button {
    display: block;
    margin: auto;
    font-family: Poppins;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    transition: 1s;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
}

.sign-up-button:hover {
    cursor: pointer;
    filter: saturate(40%);
    transition: 1s;
}

/*responsiveness*/
@media screen and (max-width: 1000px) {
    .sign-up-container .password-hide-show-button {
        top: 30%
    }
}

@media screen and (max-width: 700px) {
    .sign-up-container {
        top: 15%
    }

    .sign-up-container .email-container {
        font-size: 4vw;
    }

    .sign-up-container .password-container {
        font-size: 4vw;
    }

    .sign-up-container .name-container {
        font-size: 4vw;
    }

    .sign-up-title {
        font-size: 5vw;
    }

    .sign-up-container input {
        font-size: 3vw;
    }

    .sign-up-container .password-hide-show-button {
        font-size: 3vw;
        top: 26%
    }
}

@media screen and (max-width: 450px) {
    .sign-up-container {
        padding: .5rem;
    }

    .sign-up-title {
        font-size: 10vw;
    }

    .sign-up-container input {
        width: 200px
    }

    .sign-up-container .name-container {
        font-size: 4vw;
    }

    .sign-up-container .email-container {
        font-size: 4vw;
    }

    .sign-up-container .password-container {
        font-size: 4vw;
    }

    .sign-up-button {
        font-size: 4.5vw;
    }

    .sign-up-container .password-hide-show-button {
        top: 22%;
        left: 88%;
        font-size: 4vw;
    }
}

@media screen and (max-width: 400px) {
    .sign-up-container .password-hide-show-button {
        top: 19%
    }
}

@media screen and (max-width: 1030px) and (max-height: 650px) {
    .sign-up-title {
        font-size: 6vw;
    }

    .sign-up-container {
        top: 13%
    }
}

@media screen and (min-width: 1100px) and (max-height: 730px) and (min-height: 715px) {
    .sign-up-container {
        right: 3%;
        transform: translateX(0);
    }
}

@media screen and (max-width: 920px) and (max-height: 450px) {
    .sign-up-container .password-hide-show-button {
        left: 90%;
    }
}