/*declaring theme colors for website*/
:root {
  --primary: rgb(241, 91, 91);
  --secondary: rgba(0, 0, 0, 0.788);
}

/*declaring no padding or margin initially; also setting font hierarchy and background color for website*/
body {
  background-color: rgb(71, 66, 66);
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}